.coursecard{
  color: red;
}
.tags {
    color: black;
    align-items: left;
    font-size: 70%;
  }
  .card-subtext {
    text-align: left;
    font-size: 70%;
  }

.wishlist-card {
  width: 85%;
  border-radius: 2em;
  border: 3px solid #C4C4C4;
  text-align: center;
  padding: 3%;
  margin-top: 3%;
  text-decoration: none;
}

.wishlist-link:link {
  text-decoration: none;
}

.course-card-render {
  display: flex;
  flex-direction: column;
}
  