.navbar {
  width: 100vw;
  background: #1c3e6f;
}

.nav-item a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.nav-item a:hover {
  color: #c4d1e4;
}

.navbar-brand img {
  margin-left: 20px;
  max-width: 40px;
}
/* make the text go down */
.body_text {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  font-size: 150%;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 170px;
  margin-bottom: 10px;

}
